<%- include ("../partials/header")%>

    <!--  Add transaction form  -->
    <div class="row">
        <div class="col-md-12">
            <form action="/transaction/addTransaction/id/<%= accountId%>" method="post">
                <h1> Add Transaction </h1>
                <!--a add acount detail -->

                <!-- add transaction detail -->
                <fieldset>
                    <legend><span class="number">#</span> Transaction Details:-></legend>
                    <br>
                    <div>
                        <!--   div for contain transaction type -->
                        <div class="form-inline">
                            <label for="Transaction">Transaction Type:</label>
                        </div>
                        <div class="form-inline">
                            <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="incomeCheck"
                                value="income" required />income
                            <!-- <label for="income">Income</label> -->
                        </div>
                        <div class="form-inline">
                            <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="expenseCheck"
                                value="expense" required />
                            <label for="expense">Expense</label>
                        </div>
                        <div class="form-inline">
                            <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="transferCheck"
                                value="transfer" required />
                            <label for="accountTransfer">AccountTransfer</label>
                        </div>
                    </div>
                    <div id="incomeDrop" style="display:none">
                        <label for="from">From</label>
                        <!-- <input type="text" value="" name="from"> -->
                        <select id="transaction" name="income" required>
                            <optgroup label="Income">
                                <option value="salary">Salary</option>
                                <option value="saleItem">SaleItem</option>
                                <option value="Other">Other</option>
                            </optgroup>
                        </select>
                        <label for="to">To</label>
                        <input type="text" value="defaultAccount" name="incomeTo" readonly>

                    </div>
                    <div id="expenseDrop" style="display: none;">

                        <label for="from">From</label>
                        <input type="text" value="defaultAccount" name="expenseFrom" readonly>
                        <label for="to">To</label>
                        <select id="transaction" name="expense" required>
                            <optgroup label="Expense">
                                <option value="food">Food</option>
                                <option value="shopping">Shopping</option>
                                <option value="homeexpense">HomeExpense</option>
                                <option value="travaling">Travaling</option>
                                <option value="tour">Tour</option>
                                <option value="rent">Rent</option>
                            </optgroup>
                        </select>


                        <!-- <input type="text" value="" name="to"> -->
                    </div>
                    <div id="transferDrop" style="display: none;">
                        <label for="from">From</label>
                        <select id="transaction" name="accountFrom" required>
                            <optgroup label="From AccountTransfer">
                                <% for (let i=0 ; i <account.length; i++ ){%>
                                    <% if(accountId==account[i]._id){ %>
                                    <option value="<%= account[i]._id%>">
                                            <%= account[i].name %>
                                        </option>
                                        <% } %>
                                    <% } %>
                            </optgroup>
                        </select>

                        <label for="to">To</label>
                        <select id="transaction" name="accountTo" required>
                            <optgroup label="To AccountTransfer">
                                <% for (let i=0 ; i <account.length; i++ ){%>
                                    <% if(accountId != account[i]._id){ %>
                                    <option value="<%= account[i]._id%>">
                                            <%= account[i].name %>
                                        </option>
                                        <% } %>
                                    <% } %>
                            </optgroup>
                        </select>
                    </div>
                    <div></div>

                    <label for="discription">Discription:</label>
                    <textarea id="discription" name="transactionDescription" required></textarea>
                    <label for="amount"> Amount</label>
                    <input type="text" id="amount" pattern="[0-9]*" name="Amount" required>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <%- include ("../partials/footer")%>