<%- include ("../partials/header")%>

    <!--  Add transaction form  -->
    <div class="row">
        <div class="col-md-12">
            <form action="/transaction/updateTransaction/<%= transaction._id%>" method="post">
                <h1> Add Transaction </h1>
                <fieldset>
                    <legend><span class="number">#</span> Transaction Details:-></legend>
                    <br>
                    <div>
                        <div class="form-inline">
                            <label for="Transaction">Transaction Type:</label>
                        </div>
                        <div class="form-inline">
                            <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="incomeCheck" value="<%= transaction.type%>"
                                checked /><%= transaction.type%>
                        </div>  
                    </div>
                    <div>
                        <label for="from">From</label>
                        <input type="text" value="<%= transaction.from%>" name="from" readonly>
                        <label for="to">To</label>
                        <input type="text" value="<%= transaction.to%>" name="to" readonly>
                    </div>
                    <label for="discription">Discription:</label>
                    <textarea id="discription" name="transactionDescription" required><%= transaction.discription%></textarea>
                    <label for="amount"> Amount</label>
                    <input type="text" id="amount" pattern="[0-9]*" name="Amount" value="<%= transaction.amount%>" required>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <%- include ("../partials/footer")%>